*{
    margin: 0;
    padding: 0;
    font-family:Open Sans;
	color:#333;
	outline:none;
}
html{
    font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
	text-align:center;
	background-color:rgba(222, 222, 222, 0.59);
	width:100%;
	font-size:14px;
  
}

:root{
    --navbar-height: 59px;
} 
/*navigation bar*/

#navbar{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding:0px 20vw;
    /* position: sticky; */
    /* top: 0px; */
}
#logo{
    /* margin: 25x 23px; */

}
#logo img{
    height: 56px;
    /* margin: -18px 0px;
    padding-left: 205px;
    opacity: 5; */
}

.menu-item{
    position: relative;
    transition: 0.4s;
  }
  
  .menu-item:hover .dropdown-items{
  display: block;
  background:rgba(10, 9, 9, 0.2)
  
  }
  
  .menu-item .dropdown-items{
    display: none;
    position: absolute;
    top:100%;
    right:0;
    width:200px;
    padding:8px;
    background:white;
    border-radius: 32px;
    /* box-shadow:0 2px 2px rgba(0,0,0,0.12); */
    box-shadow: 0 2px 2px light gray;
  }
  
  .dropdown-item{
    padding:4px 
  }
  nav .nav-items{
    font-size: 1.1rem;
    align-items: center;
    display: flex;
  }
  
  .item{
    cursor: pointer;
    padding:8px 16px;
    border-radius: 32px;
    transition: .4s;
  }
  
  .item:hover{
    background:rgba(0,0,0,.2)
  }
  .item a{
    text-decoration: none;;
  }
/*navigation bar listing style*/
#navbar ul{
    display: flex;
}
#navbar ::before{
    content: "";
    background-color:light grey;
    position: absolute;
     top:0px; /*top ra left 0 image bhitra bata pathoucha */
    left: 0px;
    height: 40%;
    width: 80%;
    z-index: -1;
    opacity: 0.8;
}
#navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;
    
}
#navbar ul li a{
    color: black;
    display: block;
    margin:25px 23px;
    padding: 4px 52px;
    border-radius: 20px;
    text-decoration: none;
    
}
#navbar ul li a:hover{
    color:white;
   background-color: black;
}

.login-btn{
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    background-color: lightgray;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}
.login-btn:hover{
    background: linear-gradient(rgb(133, 211, 211),lavender);
    transform: scale(1.05);
    border-radius: 1rem;
    width: 75px;
}
#services{
    margin: 24px;
    /* flex-direction: column-reverse; */
    display: flex;
    justify-content: space-around;
}
 #services .box{
     justify-content: space-around;
    /* display: flex; */
    /* flex-wrap:wrap; */ 
    flex-direction: column-reverse;
    border: 1px solid lightgray;
    padding:34px ;
    margin: 3px 6px;
    border-radius: 32px;
    background: #f2f2f2;
    height:310px;
    width: 300px;
    /* background: rgb(219, 237, 243); */
}
#services .box img{
    height: 165px;
    width: 175px;

}
#services .box p{
    font-family: 'Poppins', sans-serif;
}
.qty{
    border:1px solid black;
    border-radius: 5px;
    height: 31px;
    width: 25%;
    margin:0px 8px;
}
.cart-btn{
    margin:15px 19px;
    padding: 0.8rem 1.8rem;
    background-color: white;
    border: 2px solid #fafafa;
    font-style: bold;
    font-size: 1.1rem;
    color: white;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    
    
}
.cart-btn:hover{
    background: linear-gradient(rgb(133, 211, 211),lavender);
    transform: scale(1.05);
    border-radius: 1rem;
    /* width: 75px; */
}
/* Choice For ITEMS */
#order .box{
    border: 1px solid lightgray;
    padding:70px ;
    margin: 3px 6px;
    /* padding: 4px 40px;
    margin: 34px 7px; */
    border-radius: 32px;
    background: #f2f2f2;
    /* height: 150px; */
    font-size: 22px;
   
}
#item, #one{
    align-items: left;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 2px 5px;
}

